---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Portfolio | Williams">
    <div class="text-white w-full flex flex-col items-center py-8">
        <section class="font-bold w-11/12 pb-50">
        <p class="text-2xl px-2 pt-35">
            Hola, me llamo Williams
        </p>
        <p class="text-8xl">DESARROLLADOR</p>
        <p class="text-8xl pb-5">FRONTEND<span class="text-tertiary-color">.</span></p>

        <div>
            <a href="/CV-Williams.pdf" download
               class="bg-secondary-color w-70 h-15 rounded-full flex items-center justify-center font-normal text-2xl text-white transition-all duration-300 ease-in-out hover:bg-tertiary-color">
            Descarga mi CV.
            </a>

            <a href="">
                <svg>
                    <use />
                </svg>
            </a>
        </div>
        </section>

    <section id="aboutMe" class="bg-secondary-color w-screen">
        <div class="px-20">
            <h2 class="pt-35 font-bold text-5xl">
                SOBRE MÍ<span class="text-tertiary-color">.</span>
            </h2>
            <p class="pt-5 w-200">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, soluta dicta? Repellat distinctio voluptatibus debitis non laudantium at voluptates, quod aperiam, dignissimos aliquid ipsa mollitia necessitatibus provident minima, optio in.
            </p>
            <h2 class="font-bold text-2xl pt-10">
                Tecnologías:
            </h2>
            <div class="flex">
                
            </div>
        </div>
    </section>

    </div>
</Layout>