<nav class="w-full flex justify-center py-8">
    <div class="bg-secondary-color flex items-center justify-between w-11/12 rounded-3xl px-7 py-5">
        
        <!--Logo-->
        <a class="text-white font-bold text-2xl" href="/">debuggeando<span class="text-tertiary-color">.</span>dev</a>
        
        <!--Menu -->
        <ul class="flex text-white">
            <li><a class="w-10 transition-all duration-300 ease-in-out hover:bg-tertiary-color px-8 py-2 rounded-3xl" href="#inicio">Inicio</a></li>
            <li><a class="w-10 transition-all duration-300 ease-in-out hover:bg-tertiary-color px-8 py-2 rounded-3xl" href="#sobre-mi">Sobre mí</a></li>
            <li><a class="w-10 transition-all duration-300 ease-in-out hover:bg-tertiary-color px-8 py-2 rounded-3xl" href="#proyectos">Proyectos</a></li>
            <li><a class="w-10 transition-all duration-300 ease-in-out hover:bg-tertiary-color px-8 py-2 rounded-3xl" href="#contacto">Contacto</a></li>
        </ul>
    </div>
</nav>